/deep-learning/homework01/mnist/*
/deep-learning/*/.ipynb_checkpoints/*
C++programing/*/build/
/AI-for-medical-time-series/*/.ipynb_checkpoints/
/AI-for-medical-time-series/sample_audvis_raw.npy
/deep-learning/*/datasets/
/deep-learning/problem_set_1/others/
